<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="POST" enctype="multipart/form-data" >
        <input type="file" name="" id="" required><br>
        Категория<input type="text" name="category" required><br>
        Тип<input type="text" name="type" required><br>
        Источник<input type="text" name="source" required><br>
        ИНН<input type="text" name="inn"><br>
        КПП<input type="text" name="kpp"><br>
        ОГРН<input type="text" name="ogrn"><br>
        Дата создания документа (в формате ГГГГ-ММ-ДД)<input type="text" name="creationDate"><br>
        Дата начала действия документа (в формате ГГГГ-ММ-ДД)<input type="text" name="startDate"><br>
        Дата окончания действия документа (в формате ГГГГ-ММ-ДД)<input type="text" name="endDate"><br>
        <input type="submit"-->
               value="Загрузить">
    </form>
<form method="POST" enctype="multipart/form-data" action="/">
    <table>
        <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
        <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
</form>

</body>
</html>